body {
    background-color: white;
    margin: 100px;
    padding: 100px;
    color: #b30000;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #b30000;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav button {
    background-color: white;
    color: #b30000;
    border: 2px solid #b30000;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: white;
    color: #b30000;
}

main {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

input {
    display: flex;
    margin: 5px auto;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #b30000;
    background-color: white;
    color: #b30000;
}

button {
    margin-top: 8px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid #b30000;
    background-color: white;
    color: #b30000;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #b30000;
}

div {
    background-color: #fff0f0;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #b30000;
}

